.service-body {
    min-height: 100vh;
}
.card-body-custom {
    background-color: antiquewhite;
    border: none;
    border-radius: 10px;
    transition: 0.4s;
}
.service-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-body-custom:hover {
    transform: scale(1.03);
}